@import "./variables.scss";
@import "./global.scss";

//footer 
.footer {
    height: 60vh;
    width: 100%;
    padding: 0rem 4rem 2rem 4rem;
    background-color: $primary-blue;
    color: white;

    &-section {
        width: 30%;
        margin-left: 5%;
        height: 80%;
    }
}
.section-one {
    font-family: $heading-font;
    border-right: 1px solid $primary-lightgrey;

    h3 {
        font-size: 2.4rem;
    }

    .lang-select {
        span {
            color: $primary-green;
        }
        span:nth-of-type(2) {
            margin-left: 15px;
        }
        span:hover {
            color: white;
        }
    }
}
.section-two, .section-three {
    margin-top: 20px;
    padding-left: 10px;

    h3 {
        font-size: 1.8rem;
    }
    ul {
        li {
            a {
                color: white;
            }
        }
    }
}
.section-two {
    border-right: 1px solid $primary-lightgrey;

    ul {
        li {
            list-style: circle;
            margin: 10px 0px;
            transition: 0.2s all ease-out;
            font-size: 1.2rem;
        }
        li:hover {
            transform: scale(1.05);
            color: $primary-green;
        }
    }
}
.section-three {
    ul {
        li {
            list-style: none;
            margin: 20px 0px;
            font-size: 1.2rem;

            a {
                transition: 0.2s all ease-out;
            }
            a:hover {
                transform: scale(1.1);
                color: $primary-green;
            }
        }

    }
}

@media screen and (max-width: $breakpoint-tablet) {
        //facilities 
        .facilities {
            &-img {
                display: none;
            }
        }
    
        //footer 
        .footer {
            height: 100%;
            flex-direction: column;
            &-section {
                width: 100%;
            }
        }
        .section-one, .section-two {
            border-right: none;
        }
        .section-two, .section-three {
            border-top: 1px solid $primary-lightgrey;
        }
}