@import "./variables.scss";
@import "./global.scss";


// Navbar
.navbar {
    width: 100%;
    flex-direction: row;
    padding: 0rem 4rem;
    font-family: $heading-font;
    color: $primary-black;
    box-shadow: 5px 5px 10px $primary-lightgrey;

    h1 {
        font-size: 1.8rem;
        width: 15%;
        height: 100%;
    }
}
.navlinks {
    width: 85%;
    height: 100%;
    list-style: none;
    padding-left: 1.25rem;
    font-weight: 500;
    li {
        margin-left: 30px;
    }
    li:hover {
        a {
            color: $primary-green;
        }

    }
    li a {
        display: block;
    }
    li:nth-of-type(2) {
        a {
            color: red;
        }
    }
    .appointment {
        margin-left: auto;
        border:  2px solid $primary-green;
        border-radius: 4px;
        padding: 10px 12px;
        transition: 0.2s all ease;
        a {
            color: $primary-green;
        }
    }
    .appointment:hover {
        background-color: $primary-green;
        a {
            color: white;
        }
    }
}



.hamburger {
    display: none;
    position: absolute;
    top: 0px;
    right: 1rem;
    cursor: pointer;
    flex-direction: column;
    z-index: 1;

    .lines {
        list-style: none;
        background-color: $secoundary-blue;
        margin-top: 5px;
        border-radius: 1px;
        width: 30px;
        height: 3px;
    }
    .lines:nth-of-type(2) {
        width: 20px
    }
}


@media screen and (max-width: $breakpoint-tablet)  {
    .navbar {
        padding: 0rem 2rem;
        flex-direction: column;

        h1 {
            width: 100%;
            transform: translateX(1.5rem);
            font-size: 1.2rem;
        }
    }
    .hamburger {
        display: flex;
    }
    .navlinks {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        height: 40vh;

        li {
            width: 100%;
            text-align: center;
            margin-left:  0;
            border-radius: 4px;
            padding: 10px 12px;
            transition: 0.2s all ease;
        }
        li:hover {
            background-color: $primary-green;
            a {
                color: white;
            }
        }

    }
    .navlinks.active {
        display: flex;
    }


}