@import "./variables.scss";
@import "./global.scss";
@import "./navbar.scss";
@import "./footer.scss";
// common styles

//main styling

//cta 
.cta {
    height: 70vh;
    flex-direction: column;
}
.cta-items:nth-of-type(1) {
    width: 100vw;
    height: 60%;
    flex-direction: column;
}
.cta-items:nth-of-type(2) {
    height: 40%;
    img{
        width: 100%;
        height: 100%;
    }
}
.cta-text {
    h2 {
        color: $primary-blue;
        font-size: 2.5rem;
    }
}
.cta-buttons {
    .btn {
        background-color: transparent;
        margin: 0px 10px;
        padding: 15px 15px;
        border: 2px solid $secoundary-blue;
        border-radius: 3px;
        transition: 0.2s all ease;
        a {
            color: $secoundary-blue;
            font-weight: 500;
            font-size: 1rem;
        }
    }
    .btn:focus {
        outline: none;
    }
    .btn:hover {
        background-color: $secoundary-blue;
        a {
            color: white;
        }
    }
}

// form 
.form-wrapper {
    width: 100%;
    height: 80vh;
    padding: 4rem 8rem;
}

.form {
    height: 100%;
    width: 100%;
}

.form-img {
    width: 50%;
    height: 100%;
    img {
        height: 100%;
        width: 100%;
    }
}
.form-content {
    height: 100%;
    width: 50%;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 80%;
        color: $primary-black;

        label {
            font-size: 1.5rem;
        }

        input {
            margin: 20px 0px;
            padding: 15px 10px;
        }
        input[type="text"] {
            border: 1px solid $primary-black;
            font-size: 1rem;
            border-radius: 2px;
        }
        input[type="submit"] {
            background-color: $primary-green;
            color: white;
            border: 2px solid $primary-green;
            border-radius: 4px;
            font-size: 1.2rem;
        }
        input[type="text"]:focus {
            outline: none;
        }
    }
}

.form-two {
    display: none;
}

// clinic section 
.clinic {
    flex-direction: column;
    padding: 3rem 4rem;
    box-shadow: 2px 2px 20px $primary-lightgrey;

    &-child {
        width: 80%;
    }
    &-child:nth-of-type(1) {
        height: 40%;
    }
    &-child:nth-of-type(2) {
        height: 60%;
    }
    &-text {
        text-align: center;
        h2 {
            font-family: $heading-font;
            font-size: 2.4rem;
        }
        p {
            font-size: 1.2rem;
            color: rgb(160, 160, 160);
        }
    }
}



.speicality-item {
    flex-direction: column;
    width: 200px;
    height: 200px;
    box-shadow: 4px 4px 8px $primary-lightgrey;
    border-radius: 100px;
    margin: 10px 20px;
    transition: 0.2s all ease-in;
}
.speicality-item:hover {
    transform: scale(1.1);
    color: $primary-blue;
}

//facilities 
.facilities {
    width: 100%;
    padding: 2rem;

    &-img {
        width: 40%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-content {
        margin-left: 5%;
        width: 60%;
        height: 100%;
    }
    &-text {
        h2 {
            font-size: 2.4rem;
            font-family: $heading-font;
        }
        p {
            font-size: 1.2rem;
        }
    }
    &-carousel {
        height: 60%;

        &-item {
            flex-direction: column;
            margin-left: 40px;

            img {
                width: 120px;
                height: 120px;
                border-radius: 60px;
            }
            p {
                text-align: center;
            }
        }
    }
}


// responsive section 

@media screen and (max-width: $breakpoint-tablet) {

    .cta-text {
        h2 {
            font-size: 2rem;
        }
    }

    //form
    .form-wrapper {
        padding: 2rem 4rem;
    }
    .form-img {
        display: none;
    }
    .form-content {
        width: 100%;

        form {
            width: 100%;
        }
    }

    //clinic
    .clinic {
        padding: 1rem 2rem;
    }
    .clinic-text {

        h2 {
            font-size: 1.8rem;
        }
        p {
            font-size: 1rem;
            color: rgb(160, 160, 160);
        }
    }

}